html {
  background-color: #f2f2f2;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

body.inner-page {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  background-color: #ffffff;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 16.5px 6%;

  list-style: none;
  line-height: 26px;
}

.logo-header {
  margin: 0 auto -80px;
  display: block;
  text-align: center;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  padding-left: 30px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(3) {
  padding-right: 33px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

main.container {
  background-color: #ffffff;
}

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 76px;
  padding-bottom: 80px;

  background-color: #ce9e97;
  background-image: url("../img/mask.png"),
                    url("../img/image-top.jpg");
  background-repeat: no-repeat;
  background-position: bottom center,
                       0 -56px;
}

.container-headline {
  padding-top: 60px;
  padding-bottom: 50px;

  background-color: #ffffff;
}

.container-headline p:first-child {
  margin: 0;
  margin-bottom: 27px;
  text-align: center;

  font-size: 21px;
  line-height: 26px;
}

.container-headline .five {
  margin: 0;
  text-align: center;

  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.feature-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-block {
  width: 34%;
  padding-top: 48px;
  text-align: center;

  background-color: #81b3d2;
}

.text-block h3 {
  margin: 0;
  margin-bottom: 24px;

  font-size: 21px;
  color: #ffffff;
}

.text-block p {
  margin: 0 20px 20px;

  font-weight: 400;
  color: #ffffff;
}

.text-block p.number {
  position: relative;

  margin-bottom: 21px;
}

.text-block p.number::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 154px;

  width: 8px;
  height: 1px;

  background-color: #ffffff;
}

.text-block p.number::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 196px;

  width: 8px;
  height: 1px;

  background-color: #ffffff;
}

.image-block {
  background-color: #81b3d2;
}

.image-block img {
  display: block;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 48px;
  padding-bottom: 67px;

  background-color: #ffffff;
}

.advantages .feature-item {
  text-align: center;
}

.wrapper-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  height: 87px;
  margin-top: 7px;
  margin-bottom: 24px;
}

.feature-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature-2 .text-block {
  width: 34%;
}

.features {
  background-color: #ffffff;
}

.features .wrapper-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-item h3 {
  font-size: 21px;
}

.feature-item {
  width: 400px;

  font-weight: 400;
  color: #333333;
}

.feature-item.grey {
  padding-top: 26px;
  padding-bottom: 46px;
  text-align: center;

  background-color: #eeeeee;
}

.feature-item.grey h3 {
  margin-bottom: 24px;
}

.feature-item.grey p.number {
  position: relative;

  margin-bottom: 21px;
}

.feature-item.grey p.number::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 175px;

  width: 8px;
  height: 1px;

  background-color: #000000;
}

.feature-item.grey p.number::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 215px;

  width: 8px;
  height: 1px;

  background-color: #000000;
}

.subtitle {
  width: 570px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.subtitle p:first-child {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
}

.subtitle .clarification {
  margin: 0;
  margin-bottom: 45px;

  font-weight: 400;
  line-height: 24px;
  color: #333333;
}

.button {
  text-align: center;

  font: inherit;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button-wraper {
  position: relative;
  text-align: center;
}

.popup form {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 2;

  padding: 55px 57px;
  text-align: left;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 40px 5px rgba(0,0,0,.2);
          box-shadow: 0 10px 40px 5px rgba(0,0,0,.2);

  animation-name: bounce;
  animation-duration: 0.7s;
}

.modal-close {
  display: none;
}

form.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

@keyframes bounce {
  0%   {transform: translateY(0); }
  50%  {transform: translateY(70px); }
  80%  {transform: translateY(-50px); }
  100% {transform: translateY(0); }
}

@keyframes shake {
    0%, 100%                 {transform: translateX(0); }
    10%, 30%, 50%, 70%, 90%  {transform: translateX(-10px); }
    20%, 40%, 60%, 80%       {transform: translateX(10px); }
}

  form.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes bounce {
  0%   {-webkit-transform: translateY(0);transform: translateY(0); }
  50%  {-webkit-transform: translateY(70px);transform: translateY(70px); }
  80%  {-webkit-transform: translateY(-50px);transform: translateY(-50px); }
  100% {-webkit-transform: translateY(0);transform: translateY(0); }
}

@keyframes bounce {
  0%   {-webkit-transform: translateY(0);transform: translateY(0); }
  50%  {-webkit-transform: translateY(70px);transform: translateY(70px); }
  80%  {-webkit-transform: translateY(-50px);transform: translateY(-50px); }
  100% {-webkit-transform: translateY(0);transform: translateY(0); }
}

@-webkit-keyframes shake {
    0%, 100%                 {-webkit-transform: translateX(0);transform: translateX(0); }
    10%, 30%, 50%, 70%, 90%  {-webkit-transform: translateX(-10px);transform: translateX(-10px); }
    20%, 40%, 60%, 80%       {-webkit-transform: translateX(10px);transform: translateX(10px); }
}

@keyframes shake {
    0%, 100%                 {-webkit-transform: translateX(0);transform: translateX(0); }
    10%, 30%, 50%, 70%, 90%  {-webkit-transform: translateX(-10px);transform: translateX(-10px); }
    20%, 40%, 60%, 80%       {-webkit-transform: translateX(10px);transform: translateX(10px); }
}

.button-wraper .button.brown {
  padding: 33px 139px;
}

.button.brown {
  font-size: 21px;
  background-color: #766357;
}

.button.brown:hover {
  background-color: #604e43;
}

.button.brown:active {
  color: #857871;
  background-color: #503e33;
}

.popup .button.blue {
  padding: 18px 195px;
}

.button.blue {
  font-size: 21px;
  background-color: #81b3d2;
}

.button.blue:hover {
  background-color: #669ec0;
}

.button.blue:active {
  color: #88b6d1;
  background-color: #5496bd;
}

ul.booking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding-left: 0;

    list-style: none;
}

.booking-option {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-bottom: 30px;
}

.booking-option.adults-children {
  width: 50%;
  margin-bottom: 56px;
}

.booking-option.adults-children input {
  width: 20px;
}

.booking-option.adults-children label.children {
  width: 28%;
  padding-left: 52px;
}

button.minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 38px;
  height: 36.7px;
  padding: 0;

  background-color: #f2f2f2;

  border: none;
  outline: none;
  cursor: pointer;
}

button.minus::before {
  content: "";

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

button.minus:hover::before {
  background-color: #000000;
}

button.minus:active::before {
  background-color: #81b3d2;
}

button.plus {
  position: relative;

  width: 38px;
  height: 36.7px;
  padding: 0;

  background-color: #f2f2f2;

  border: none;
  outline: none;
  cursor: pointer;
}

button.plus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 3px;
  margin-left: -6px;
  margin-top: -1.5px;

  background-color: #a9a9a9;

  -webkit-transform: rotate(0deg);

      -ms-transform: rotate(0deg);

          transform: rotate(0deg);
}

button.plus:hover::before {
  background-color: #000000;
}

button.plus:active::before {
  background-color: #81b3d2;
}

button.plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 3px;
  margin-left: -6px;
  margin-top: -1.5px;

  -webkit-transform: rotate(90deg);

      -ms-transform: rotate(90deg);

          transform: rotate(90deg);

  background-color: #a9a9a9;
}

button.plus:hover::after {
  background-color: #000000;
}

button.plus:active::after {
  background-color: #81b3d2;
}


.booking-option label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 112px;
}

.booking-option input {
  min-height: 21px;
  width: 324px;
  padding: 8px;
  padding-left: 12px;

  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.booking-option input[name="check-in"],
.booking-option input[name="check-out"] {
  width: 291px;
  padding-right: 40px;
}

.booking-option input:hover {
  background-color: #ebebeb;
}

.booking-option.adults-children input:hover {
  background-color: #f2f2f2;
}

.booking-option input:focus {
  background-color: transparent;
  outline: 2px solid #e5e5e5;
}

.booking-option.adults-children input:focus {
  background-color: #f2f2f2;
  outline: none;
}


.booking-option input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}


.booking-option input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}


.booking-option input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}


.booking-option input::placeholder {
  text-transform: uppercase;
  color: #000000;
}

div.calendar svg.calendar-icon {
  position: absolute;
  bottom: 8px;
  right: 10px;
}

svg.calendar-icon:hover path {
  fill: #000000;
}

svg.calendar-icon:active path {
  fill: #81b3d2;
}

.map img {
  display: block;
}

.map-interactive {
  position: absolute;
  z-index: 1;
}

.pade-footer {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 1200px;
  padding-top: 35px;
  margin-top: -120px;

  background-color: rgba(255,255,255,.9);
}

.hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.3%;
  padding-top: 12px;
}

.visit {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  width: 33.3%;
  padding-bottom: 32px;
  text-align: center;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 150px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 46px;
  height: 48px;
  margin-bottom: 5px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.html-academy {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
  padding-left: 2px;
}

.html-academy p {
  margin: 0;
  margin-right: 8px;
  padding-left: 4px;
  line-height: 40px;

  font-weight: 400;
}

a.academy:hover path {
  fill: #81b3d2;
}

a.academy:active path {
  fill: #bdbbbc;
}

.site-navigation a.active-page {
  color: #766357;
}

.site-navigation a.active-page:hover {
  color: none;
}

.site-navigation a.active-page:active {
  color: none;
}

.filters {
  padding: 28px 60px 10px;

  font-weight: 400;
  color: #ffffff;
  background-color: #ce9e97;
  background-image: url("../img/image-hotels.jpg");
  background-repeat: no-repeat;
  background-position-y: -55px;
}

.filters legend {
  margin-bottom: 5px;

  font-size: 16px;
  font-weight: 700;
}

.filters .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-checkbox:first-child {
  margin-right: 98px;
}

.filter-checkbox .filter-option {
  padding-left: 43px;
}

.filter-checkbox .filter-option:not(:last-child) {
  margin-bottom: 24px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -2px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -2px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  opacity: 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -42px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -42px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter fieldset {
  border: none;
}

.filter ul {
  padding: 0;

  list-style: none;
}

.filter-range {
  width: 316px;
  margin-left: auto;
}

.filter-range-title {
  margin-bottom: 6px;
}

.price-controls {
  position: relative;

  height: 31px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  text-align: left;

  font-size: 14px;
  line-height: 28px;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 61px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  cursor: pointer;
}

.range-toggle svg:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}



.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background-color: #ffffff;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 72px;

  border-bottom: 1px solid #e5e5e5;
}

.sorting p {
  font-size: 21px;
  line-height: 26px;
}

p.search-result {
    margin-right: 48px;
}

.sorting .sort {
  font-size: 12px;
  font-weight: 400;
  line-height: 51px;
}

ul.sort-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  padding-right: 38px;

  list-style: none;
}

.sort-options a.active-selected {
  color: #81b3d2;
  border: none;
}


.sorting a {
  font-size: 12px;
  line-height: 31px;
  font-weight: 400;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
  cursor: pointer;
}

.sorting a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:active {
  color: #000000;
  border: none;
}

ul.sort-options li {
    margin-right: 33px;
}

.sort-options a.sort-up,
.sort-options a.sort-down {
  margin-right: 0;
}

.sort-options li.up {
  margin-left: auto;
  margin-right: 12px;
}

a.sort-up {
  border: none;
}

a.sort-up:hover {
  border: none;
}

a.sort-up svg:hover path {
  fill: #000000;
}

a.sort-up svg:active path {
  fill: #81b3d2;
}

a.sort-down {
  border: none;
}

a.sort-down:hover {
  border: none;
}

a.sort-down svg:hover path {
  fill: #000000;
}

a.sort-down svg:active path {
  fill: #81b3d2;
}

.catalog-section {
  margin-bottom: 120px;
}

ul.catalog-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 31px 71px 19px 73px;

  border-bottom: 1px solid #e5e5e5;
}

.catalog-item h3 {
  margin: -5px 0 7px;
}

.catalog-item-image {
  margin: 0;
  margin-right: 30px;
}

.catalog-item .catalog-item-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog-item .catalog-item-name:hover {
  color: #81b3d2;
}

.catalog-item .catalog-item-name:active {
  color: #b2b2b2;
}

.catalog-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.catalog-item-price p {
  width: 116px;
  margin: 0;

  color: #333333;
  font-weight: 400;
}

p.price {
  cursor: pointer;
}

.info-book .button.blue {
  padding: 4px 17px;
  margin-right: 2px;
  font: inherit;
}

.info-book .button.brown {
  padding: 4px 17px;
  font: inherit;
}

.wrapper-stars-and-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 112px;
  margin-left: auto;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  width: 100%;
  height: 17px;
  margin: 0;
  margin-left: auto;
  margin-bottom: 47px;
  padding: 0;

  list-style: none;
}

.stars li {
  width: 18px;
  height: 17px;
  margin-right: 6px;

  background-image: url("../img/star.svg");
}

.stars li:last-child {
  margin-right: 0;
}

p.rating {
  margin: 0;
  padding: 3px 13px;
  text-align: center;

  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}
